certifi==2019.3.9
chardet==3.0.4
cssselect==1.0.3
icalendar==4.0.3
idna==2.8
lxml==4.3.3
Pillow==6.0.0
pytesseract==0.2.6
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
six==1.12.0
urllib3==1.24.2
selenium